@use "./Variables.scss" as *;

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 80px;
}
.logo-market-style {
  width: 80px;
  height: 50px;
}
.logo-user-style {
  width: 80px;
  height: 50px;
}
