@use "./Variables.scss" as *;

.home-container {
  margin-top: 150px;
  width: 100%;
  background-color: $background-color-home;
  img {
    width: 100%;
    height: auto;
  }
}

.text-home-container {
  margin: 20px 20vw;
  margin-top: 30px;
  border-top: 2px solid $text-color-light;
  p {
    margin-top: 30px;
    text-align: center;
    font-size: 1.2rem;
  }
}

.text-home-container-end {
  margin: 20px 20vw;
  margin-top: 30px;
  border-top: 2px solid $text-color-light;
  border-bottom: 2px solid $text-color-light;
  p {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.2rem;
  }
}
.product-item {
  display: flex;
  flex-direction: column;
}
.carousel-custom {
  margin: 50px 50px;
}
.title-souscategorie {
  position: relative;
  text-decoration: underline;
  bottom: -38px;
  margin-left: 50px;
  font-size: 1.7rem;
  color: $background-color-light;
}
.text-data-container {
  margin-top: 20px;
}
.text-data {
  margin-top: 8px;
  font-size: 1.2rem;
}
.span-style {
  font-weight: bold;
  text-decoration: underline;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid $background-color-light !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid $background-color-light !important;
}
.carousel.carousel-slider .control-arrow:hover {
  background: none !important;
}
@media only screen and (min-width: 1080px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    position: relative;
    left: 25vw;
    img {
      width: 100%;
      height: auto;
    }
  }
  .text-home-container {
    margin: 10px 6vw;
    margin-top: 50px;
  }
  .text-home-container-end {
    margin: 10px 6vw;
  }
  .products-container {
    display: flex;
    flex-direction: column;
  }
  .product-item {
    display: flex;
    width: 25vw;
    position: relative;
    left: 10vw;
  }
  .title-souscategorie {
    margin-left: 13vw;
  }
  .carousel .thumbs {
    margin-left: 8vw;
  }
  // .carousel.carousel-slider .control-arrow {
  //   left: 15vw !important;
  // }
}
