@use "./Variables.scss" as *;

.home-container {
  margin-top: 30px;
  width: 100%;
  background-color: $background-color-home;
  img {
    width: 100%;
    height: auto;
  }
}

.text-home-container {
  margin: 20px 20vw;
  margin-top: 30px;
  border-top: 2px solid $text-color-light;
  p {
    margin-top: 30px;
    text-align: center;
  }
}

.text-home-container-end {
  margin: 20px 20vw;
  margin-top: 30px;
  border-top: 2px solid $text-color-light;
  border-bottom: 2px solid $text-color-light;
  p {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
}
.product-item {
  display: flex;
  flex-direction: column;
}
.carousel-custom {
  margin: 50px 50px;
}
.title-souscategorie {
  position: relative;
  text-decoration: underline;
  bottom: -38px;
  margin-left: 50px;
  color: $background-color-light;
}
.text-data-container {
  margin-top: 20px;
}
.text-data {
  margin-top: 8px;
}
.span-style {
  font-weight: bold;
  text-decoration: underline;
}

.carousel.carousel-slider .control-arrow:hover {
  background: none !important;
}
