@use "./Variables.scss" as *;

.profil-container {
  margin-top: 100px;
}

.logout-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.logout-button {
  padding: 5px;
  width: 30vw;
  color: white;
  border-radius: 5px;
  border: solid 1px $background-color-dark;
  background-color: $background-color-light;
}
.logout-button:active {
  background-color: $background-color-light-click;
}

.profil-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.text-profil-user {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}

.span-style {
  text-decoration: underline;
  color: $background-color-dark;
  font-size: 1.3rem;
}

.profil-card-container {
  text-align: center;
  padding: 20px;
  margin: 5vh 8vw;
  margin-bottom: 8vh;
  border: solid 2px $background-color-dark;
  border-radius: 20px;
  background-color: $background-color-light;
  color: $text-color-dark;
}
